
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

      <i class="fa-solid fa-tablet-button ms-4"></i>
      <a class="navbar-brand" href="#"><b>Ecommerce</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active my-clickable" aria-current="page"  (click)="onSelectedProducts()">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item my-clickable" (click)="onProductPromo()">En Promotion</a></li>
              <li><a class="dropdown-item my-clickable" (click)="onProductDispo()">Disponible</a></li>
              <li><hr class="dropdown-divider" ></li>
              <li><a class="dropdown-item my-clickable" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/panniers">Panniers</a>
          </li>


        </ul>
        <li><a href="">{{panierService.getCurrentPannier().name}} | {{panierService.getCurrentPannier().items.size}}</a></li>
        <i class="fa-solid fa-right-from-bracket" (click)="onLogout()"></i>


      </div>
  </nav>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-groupe"  *ngIf="categories">
        <!--  {
        "_embedded" : {
            "categories" : [ {
              "name" : "computers",
              "description" : null,
              "photo" : null, .... ; ce qui retourne back end _embedded.categories  -->
        <li [ngClass]= " currentCategorie==c ? 'active' : '' "  *ngFor="let c of categories._embedded.categories" (click)="getProductByCategorie(c)"
             class="list-group-item my-clickable"
        >
          {{c.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
</div>
